
<div class="container-fluid">
	<div class="row bg-danger" style="height:100px; z-index:1">
		<div class="col-12 mx-auto text-center mt-2">
			<button class="btn btn-sm btn-light mr-2" routerLink="/home" routerLinkActive="active">Home</button>
			<button class="btn btn-sm btn-light" routerLink="/todo" routerLinkActive="active">Todos</button>
		</div>
	</div>
	<div class="row" style="margin-top: -60px; z-index: 100;">
		<div class="col-10 rounded mx-auto bg-white shadow col-md-6" style="min-height: 80vh;">
			<router-outlet></router-outlet>
			<!-- <app-todo></app-todo> -->
		</div>
	</div>
</div>
<!-- <app-first></app-first> -->
<!-- 
	KEY `staff_fk` (`staff_id`),
	CONSTRAINT `staff_fk` FOREIGN KEY (`staff_id`) REFERENCES `staffs` (`staff_id`) ON DELETE NO ACTION ON UPDATE NO ACTION,
	KEY `user_fk` (`user_id`),
	CONSTRAINT `user_fk` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE NO ACTION ON UPDATE NO ACTION,
	KEY `food_fk` (`food_id`),
	CONSTRAINT `food_fk` FOREIGN KEY (`food_id`) REFERENCES `foods` (`food_id`) ON DELETE NO ACTION ON UPDATE NO ACTION







CREATE TABLE `orders`(
	`order_id` int(11) AUTO_INCREMENT,
    `order_time` VARCHAR(100) NOT NULL,
    `order_note` VARCHAR(2000) NOT NULL,
    `status` VARCHAR(200),
    `staff_id` int(11),
    `user_id` int(11),
    `food_id` int(11),
    PRIMARY KEY (`order_id`),
	INDEX (`staff_id`),
    INDEX (`user_id`),
    INDEX (`food_id`)
) -->