<div class="container-fluid bg-light login p-5">
	<div class="row">
		<div class="col-12 bg-white rounded card col-sm-8 col-md-4  rounded shadow mx-auto pt-5 pb-5" style="border:none !important">
			<img class="logo m-auto" src="assets/img/nbts22.png" alt="logo">
			<div class="text-center"><strong>SCICT</strong></div>
			<input type="text" class="login-input mx-auto mt-5 w-75 p-2" placeholder="Student ID">
			<input type="password" class="login-input mx-auto mt-3 w-75 p-2" placeholder="Password">
			<small id="helpId" class="ml-auto mt-3 mr-5">
				<a href="">Reset Password</a>
			</small>
			<div class="m-5">
				<button class="btn btn-block btn-primary active rounded-pill">Login</button>
			</div>
		</div>
	</div>	
</div>